@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(Roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
section {
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.sign-in {
    display: block;
}
.main {
    display: none;
}
.header {
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img,
p {
    display: inline-block;
}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
p {
    color: grey;
}
input,
button {
    font-size: 1em;
    font: inherit;
    border: 0;
}
input:focus,
button:focus {
    outline: 0;
}
input {
    width: 100vw;
    background: white;
    padding: 0 10px;
    display: block;
    height: 20vh;
}
#message {
    position: absolute;
    z-index: -10;
    top: 75vh;
    width: 60vw;
    height: 25vh;
    right: 20vw;
}
button, input[type="submit"] {
    color: white;
    width: 50vw;
    height: 25vh;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    transition: .2s ease-out;
}
button.active {
    transition: .2s ease-out;
}
#login {
    bottom: 0;
    width: 100vw;
    background: #03A9F4;
}
#commit {
    background: #03A9F4;
    top: 75vh;
    right: 0;
    z-index: 5;
}
#commit.active {
    width: 20vw;
}
#pull,
#cancel {
    background: #4CAF50;
    top: 75vh;
    left: 0;
}
#cancel {
    opacity: 0;
}
#pull {
    opacity: 1;
}
#pull.active,
#cancel.active {
    left: 0;
    right: 90vw;
    width: 20vw;
    background: #ddd;
    color: black;
}
#cancel.active {
    opacity: 1;
}
#pull.active {
    opacity: 0;
}