@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
img {
    width: 200px;
    height: 200px;
}
h1, p {
    color: #333;
    margin: 0;
}
h1 {
    font-size: 4em;
    margin-top: 20px;
}
p {
    font-size: 1.5em;
    margin: 20px;
}
a {
    text-decoration: none;
    padding: 10px 20px;
    background: #266fdb;
    color: white;
}